nav{
    height: 100px;
    background-color: #2c475c;

}

main #section1{
    background-color: #00c7a5;
}

main #section1 .__width{
    background-color: #00c7a5;
}

main #section3 {
    background-color: #00c7a5;
}


footer #footer-top{
    background-color: #3a5f7b;
}

footer #footer-bottom{
    background-color: #2c475c;
}